:root {
  font-family: ' Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  --col-text-primary: #fafff8;
  --col-text-secondary: #edb337;
  --col-text-invert: #242424;
  --col-text-details: #8a9d86;

  --col-surface-primary: #121212;
  --col-surface-secondary: #292a26;
  --col-surface-tertiary: #1a2012;
  --col-surface-invert: #fafff8;

  --col-graph: #324319;
  --col-graph-1: #edb337;
  --col-graph-2: #f2542d;

  --col-success: #63d0a1;
  --col-error: #fe9f9f;

  /* overlay */
  --overlay: rgba(0, 0, 0, 0.9);

  /* border */
  --border-radius: 16px;
  --border-radius-full: 100px;

  /* spacing */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  --spacing-3xl: 56px;

  /* composite fonts */
  --font-h1: 700 36px Tahoma;
  --font-h2: 500 28px Tahoma;
  --font-h3: 500 24px Tahoma;
  --font-h4: 500 20px Tahoma;

  --font-body-1: 400 16px Tahoma;
  --font-bodyStd: 200 14px Tahoma; /* standard */
  --font-body-3: 200 12px Tahoma;

  --font-button: 400 16px Tahoma;
  --font-label: 300 16px Tahoma;
  --font-chip: 300 14px Tahoma;
}

* {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color: var(--col-text-primary);
  background: var(--col-surface-primary);
}
